<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">

		<title>Ordem de Serviço</title>

		<style type="text/css">

			body {
				font-family: Arial, Helvetica, Sans-serif !important;
				font-size: 8px;
			}

			table{
				width: 100%;
				color: #888888;
				font-size: 8px;
				margin:0;
				padding:0;
				border:0;
			}

			.center{
				text-align: center;
			}

			.header{
				color: #E00500;
				font-size: 10px;
				padding-top: 5px;
			}
			
			header {
				position: running(header);
				font-family: Arial, Helvetica, Sans-serif !important;
				font-size: 10px;
				color: #888888;
			}

			footer {
				font-family: Arial, Helvetica, Sans-serif !important;
				font-size: 10px;
				height: 30px;
				background: #E00500;
				color: #ffffff;

				margin-bottom: -10px;

				padding-left: 30px;
				padding-top: 10px;

				position: running(footer);
			}

			.custom-footer-page-number:after {
				content: counter(page) " DE " counter(pages);
			}

			@page {

				@top-left {
					height: 50px;
					content: element(header);
				}

				@bottom-left {
					content: element(footer);
				}
				margin-top: 120px;
				margin-left : 0px;
				margin-right : 0px;
			}
		</style>
	</head>

	<body>

		<div style="width: 750px; margin: 0 auto; background: #ffffff">

			<header>
				<div style="width: 25%; height: 110px; margin-left: 20px; margin-top: 20px; display: inline-block;">
					<img src="${LogoTipo}" style="margin-left: 20px; height: 70px;" />
				</div>

				<div style="width: 71%; height: 110px; text-align:right; display: inline-block; margin-top:20px;">
					<h3 style="font-weight: normal; margin: 0">Ordem de Serviço</h3>
					<h3 style="margin: 0">${OrdemServicoNumero}</h3>
					<h4 style="font-weight: normal; margin: 0">CNPJ: ${CompanyCnpj} | ${CompanyRazaoSocial}</h4>
					<p>
						O.S. emitida em ${DataInclusao} às ${HorarioInclusao}
					</p>
				</div>

				<div style="width: 94%; position: absolute; top:110px; z-index: -1; margin-left:20px;">
					<hr style="border: dashed 1px #6a6d73;" />
				</div>
			</header>

			<table cellpadding="0" cellspacing="0" style="font-size: 12px;">

				<tr>
					<td>
						<div class="header">Dados da O.S</div>
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Número O.S: </span></td>
								<td>${OrdemServicoNumero}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Data e horário da prestação de serviço:</span></td>
								<td>${OrdemServicoData}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Status:</span></td>
								<td>${OrdemServicoStatus}</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td>
						<div class="header">Dados do Cliente</div>
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Razão Social: </span></td>
								<td>${ClienteRazaoSocial}</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td>
						<div class="header">Dados do Técnico</div>
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Nome: </span></td>
								<td>${ResponsavelNome}</td>
							</tr>
						</table>
					</td>
				</tr>
				
				<tr>
					<td>
						<div class="header">Dados do Local de Realização do Serviço</div>
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Nome Local: </span></td>
								<td>${LocalNome}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>CEP:</span></td>
								<td>${LocalCEP}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Endereço:</span></td>
								<td>${LocalEndereco}</td>
								<td style="font-weight: bold; width: 20%"><span>Complemento:</span></td>
								<td>${LocalComplemento}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Número:</span></td>
								<td>${LocalNumero}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Bairro:</span></td>
								<td>${LocalBairro}</td>
								<td style="font-weight: bold; width: 20%"><span>Cidade:</span></td>
								<td>${LocalCidade}</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td>
						<div class="header">Dados do Contato</div>
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Nome: </span></td>
								<td>${ContatoNome}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Telefone: </span></td>
								<td>${ContatoTelefone}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>WhatsApp: </span></td>
								<td>${ContatoWhatsApp}</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td>
						<div class="header">Serviços que serão realizados</div>
					</td>
				</tr>

				<tr>
					<td>
						${OrdemServicoItens}
					</td>
				</tr>

				<tr>
					<td>
						<br />
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td style="text-align: center;">__________________________________________________________ <br />
									${ResponsavelNome}
								</td>
								<td style="text-align: center;">__________________________________________________________ <br />
									${ClienteRazaoSocial}
								</td>
							</tr>
						</table>
						
					</td>
				</tr>

				<tr>
					<td>
						<hr style="border: dashed 1px silver;" />
					</td>
				</tr>

				<tr>
					<td style="font-size: 10px;">

						<div style="width: 25%; height: 95px; display: inline-block;">
							<img src="${LogoTipo}" style="margin-left: 20px; height: 70px;" />
							<h3>&nbsp;</h3>
						</div>

						<div style="width: 74%; height: 50px; text-align:right; display: inline-block; margin-top:5px;">
							<h3 style="font-weight: normal; margin: 0">Ordem de Serviço</h3>
							<h3 style="margin: 0">${OrdemServicoNumero}</h3>
							<h4 style="font-weight: normal; margin: 0">CNPJ: ${CompanyCnpj} | ${CompanyRazaoSocial}</h4>
							<p>
								O.S. emitida em ${DataInclusao} às ${HorarioInclusao}
							</p>
							<h4 style="font-weight: normal; margin: 0">&nbsp;</h4>
						</div>

						<div style="width: 100%; position: absolute; top:90px; z-index: -1;">
							<hr style="border: dashed 1px #6a6d73;" />
						</div>
										
					</td>
				</tr>

				<tr>
					<td>
						<div class="header">Dados da O.S</div>
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Número O.S: </span></td>
								<td>${OrdemServicoNumero}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Data e horário da prestação de serviço:</span></td>
								<td>${OrdemServicoData}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Status:</span></td>
								<td>${OrdemServicoStatus}</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td>
						<div class="header">Dados do Cliente</div>
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Razão Social: </span></td>
								<td>${ClienteRazaoSocial}</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td>
						<div class="header">Dados do Técnico</div>
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Nome: </span></td>
								<td>${ResponsavelNome}</td>
							</tr>
						</table>
					</td>
				</tr>
				
				<tr>
					<td>
						<div class="header">Dados do Local de Realização do Serviço</div>
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Nome Local: </span></td>
								<td>${LocalNome}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>CEP:</span></td>
								<td>${LocalCEP}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Endereço:</span></td>
								<td>${LocalEndereco}</td>
								<td style="font-weight: bold; width: 20%"><span>Complemento:</span></td>
								<td>${LocalComplemento}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Número:</span></td>
								<td>${LocalNumero}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Bairro:</span></td>
								<td>${LocalBairro}</td>
								<td style="font-weight: bold; width: 20%"><span>Cidade:</span></td>
								<td>${LocalCidade}</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td>
						<div class="header">Dados do Contato</div>
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Nome: </span></td>
								<td>${ContatoNome}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Telefone: </span></td>
								<td>${ContatoTelefone}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>WhatsApp: </span></td>
								<td>${ContatoWhatsApp}</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td>
						<div class="header">Serviços que serão realizados</div>
					</td>
				</tr>

				<tr>
					<td>
						${OrdemServicoItens}
					</td>
				</tr>

				<tr>
					<td>
						<br />
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td style="text-align: center;">__________________________________________________________ <br />
									${ResponsavelNome}
								</td>
								<td style="text-align: center;">__________________________________________________________ <br />
									${ClienteRazaoSocial}
								</td>
							</tr>
						</table>
						
					</td>
				</tr>
		
				
				<footer>
					<div style="width:80%; display: inline-block;">O.S ${OrdemServicoNumero} emitida em ${DataInclusaoPorExtenso} </div> <div style="width:15%; text-align:right; display: inline-block;"><span class="custom-footer-page-number">PÁGINA: </span></div>
				</footer>

			</table>

			

		</div>

	</body>

</html>