<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">

		<title>Pedido de Venda</title>

		<style type="text/css">

			body {
				font-family: Arial, Helvetica, Sans-serif !important;
				font-size: 8px;
			}

			table{
				width: 100%;
				color: #888888;
				font-size: 12px;
				margin:0;
				padding:0;
				border:0;
			}

			.center{
				text-align: center;
			}

			.header{
				color: #E00500;
				font-size: 12px;
				padding-top: 10px;
			}
			
			header {
				position: running(header);
				font-family: Arial, Helvetica, Sans-serif !important;
				font-size: 12px;
				color: #888888;
			}

			footer {
				font-family: Arial, Helvetica, Sans-serif !important;
				font-size: 12px;
				height: 30px;
				background: #E00500;
				color: #ffffff;

				margin-bottom: -10px;

				padding-left: 30px;
				padding-top: 10px;

				position: running(footer);
			}

			.custom-footer-page-number:after {
				content: counter(page) " DE " counter(pages);
			}

			@page {

				@top-left {
					height: 100px;
					content: element(header);
				}

				@bottom-left {
					content: element(footer);
				}
				margin-top: 140px;
				margin-left : 0px;
				margin-right : 0px;
			}
		</style>
	</head>

	<body>

		<div style="width: 750px; margin: 0 auto; background: #ffffff">

			<header>
				<div style="width: 25%; height: 130px; margin-left: 20px; margin-top: 20px; display: inline-block;">
					<img src="${LogoTipo}" style="margin-left: 20px; height: 70px;" />
					<h3>&nbsp;</h3>
				</div>

				<div style="width: 71%; height: 130px; text-align:right; display: inline-block; margin-top:20px;">
					<h3 style="font-weight: normal; margin: 0">Pedido de Venda</h3>
					<h3 style="font-weight: normal; margin: 0">Express: ${VendaExpress}</h3>
					<h3 style="margin: 0">${PedidoVendaNumero}</h3>
					<h4 style="font-weight: normal; margin: 0">CNPJ: ${VendedorEmpresaCnpj} | ${VendedorEmpresa}</h4>
					<h4 style="font-weight: normal; margin: 0">${VendedorEmpresaEnderecoCompleto}</h4>
					<h4 style="font-weight: normal; margin: 0">${VendedorEmpresaTelefoneCompleto}</h4>
					<p>
						Pedido emitido em ${DataInclusao} às ${HorarioInclusao}
					</p>
				</div>

				<div style="width: 94%; position: absolute; top:130px; z-index: -1; margin-left:20px;">
					<hr style="border: dashed 1px #6a6d73;" />
				</div>
			</header>

			<table cellpadding="0" cellspacing="0" style="font-size: 12px;">

				<tr>
					<td>
						<div class="header">Dados do Pedido</div>
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Número Pedido: </span></td>
								<td>${PedidoVendaNumero}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Data da Venda:</span></td>
								<td>${PedidoVendaData}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Status:</span></td>
								<td>${PedidoVendaStatus}</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td></td>
				</tr>

				<tr>
					<td>
						<div class="header">Dados do Cliente</div>
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>CNPJ: </span></td>
								<td>${ClienteCNPJ}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Razão Social: </span></td>
								<td>${ClienteRazaoSocial}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>E-mail: </span></td>
								<td>${ClienteEmail}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>CEP:</span></td>
								<td>${ClienteCEP}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Endereço:</span></td>
								<td>${ClienteEndereco}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Complemento:</span></td>
								<td>${ClienteComplemento}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Número:</span></td>
								<td>${ClienteNumero}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Bairro:</span></td>
								<td>${ClienteBairro}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Cidade:</span></td>
								<td>${ClienteCidade}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Contato: </span></td>
								<td>${ClienteContato}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Telefone:</span></td>
								<td>${ClienteTelefone}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Celular:</span></td>
								<td>${ClienteCelular}</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td></td>
				</tr>

				<tr>
					<td>
						<div class="header">Dados do Responsável</div>
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>CPF: </span></td>
								<td>${ResponsavelCPF}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Nome: </span></td>
								<td>${ResponsavelNome}</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td></td>
				</tr>

				<tr>
					<td>
						<div class="header">Dados do Vendedor</div>
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Nome: </span></td>
								<td>${VendedorNome}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>E-mail: </span></td>
								<td>${VendedorEmail}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Telefone: </span></td>
								<td>${VendedorTelefone}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>WhatsApp: </span></td>
								<td>${VendedorWhatsApp}</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td></td>
				</tr>

				<tr>
					<td>
						<div class="header">Dados do Pagamento</div>
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Forma de Pagamento: </span></td>
								<td>${PedidoFormaPagamento}</td>
							</tr>
							<tr>
								<td style="font-weight: bold; width: 40%"><span>Parcelas: </span></td>
								<td>${PedidoQtdeParcelas} | ${PedidoValorParcela}</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td></td>
				</tr>

				<tr>
					<td>
						<div class="header">Observações do Pedido</div>
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td>${PedidoVendaObservacao}</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td></td>
				</tr>
				
				<tr>
					<td>
						<div class="header">Itens do Pedido</div>
					</td>
				</tr>

				<tr>
					<td>
						${PedidoVendaItens}
					</td>
				</tr>

				<tr>
					<td>
						<br />
					</td>
				</tr>

				<tr>
					<td>
						<br />
					</td>
				</tr>

				<tr>
					<td>
						<br />
					</td>
				</tr>

				<tr>
					<td>
						<table>
							<tr>
								<td style="text-align: center;">_____________________________________________ <br />
									${VendedorNome}
								</td>
								<td style="text-align: center;">_____________________________________________ <br />
									${ResponsavelNome} - ${ResponsavelCPF}
								</td>
							</tr>
						</table>
						
					</td>
				</tr>		
				
				<footer>
					<div style="width:80%; display: inline-block;">Pedido ${PedidoVendaNumero} emitido em ${DataInclusaoPorExtenso} </div> <div style="width:15%; text-align:right; display: inline-block;"><span class="custom-footer-page-number">PÁGINA: </span></div>
				</footer>

			</table>

		</div>

	</body>

</html>