@using Microsoft.Extensions.Configuration

@inject IConfiguration _configuration

@{
    var nomeEquipe = _configuration.GetValue<string>("NomeEquipe");
}

<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini"><img src="~/images/LogoTipo.jpg" /></a>
            <a href="/Admin/Home/Dashboard" class="simple-text logo-normal">
                @nomeEquipe
            </a>
        </div>
        <ul class="nav">
            <li class="active">
                <a href="/Admin/Home/Dashboard">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-item" data-toggle="collapse" aria-expanded="false" href="#administracao">
                    <i class="tim-icons icon-settings"></i>
                    <p>Administração</p>
                    <b class="caret"></b>
                </a>
                <div class="collapse" id="administracao" style="">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left:40px;" href="#">
                                <b class="caretRight"></b>
                                <span class="sidebar-normal">Cadastro de Fotos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left:40px;" href="/Admin/Account/Perfil">
                                <b class="caretRight"></b>
                                <span class="sidebar-normal">Cadastro de Perfis</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left:40px;" href="/Admin/Account/Usuario">
                                <b class="caretRight"></b>
                                <span class="sidebar-normal">Cadastro de Usuários</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left:40px;" href="/Admin/Administracao/Parametros">
                                <b class="caretRight"></b>
                                <span class="sidebar-normal">Parâmetros do Sistema</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-item" data-toggle="collapse" aria-expanded="false" href="#cadastros">
                    <i class="tim-icons icon-align-center"></i>
                    <p>Cadastros</p>
                    <b class="caret"></b>
                </a>
                <div class="collapse" id="cadastros" style="">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left:40px;" href="/Admin/Cadastros/Adversario">
                                <b class="caretRight"></b>
                                <span class="sidebar-normal">Adversário</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left:40px;" href="/Admin/Cadastros/Atleta">
                                <b class="caretRight"></b>
                                <span class="sidebar-normal">Atleta</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left:40px;" href="/Admin/Cadastros/Equipe">
                                <b class="caretRight"></b>
                                <span class="sidebar-normal">Equipe</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left:40px;" href="/Admin/Cadastros/Posicao">
                                <b class="caretRight"></b>
                                <span class="sidebar-normal">Posicionamento</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left:40px;" href="/Admin/Cadastros/Quadra">
                                <b class="caretRight"></b>
                                <span class="sidebar-normal">Quadra</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-item" data-toggle="collapse" aria-expanded="false" href="#competicao">
                    <i class="tim-icons icon-trophy"></i>
                    <p>Competição</p>
                    <b class="caret"></b>
                </a>
                <div class="collapse" id="competicao" style="">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left:40px;" href="#">
                                <b class="caretRight"></b>
                                <span class="sidebar-normal">Lançar Competição</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left:40px;" href="#">
                                <b class="caretRight"></b>
                                <span class="sidebar-normal">Ranking Geral</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left:40px;" href="#">
                                <b class="caretRight"></b>
                                <span class="sidebar-normal">Sumula dos Jogos</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-item" data-toggle="collapse" aria-expanded="false" href="#controles">
                    <i class="tim-icons icon-bank"></i>
                    <p>Controles</p>
                    <b class="caret"></b>
                </a>
                <div class="collapse" id="controles" style="">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left:40px;" href="/Admin/Controles/ControlePagamento">
                                <b class="caretRight"></b>
                                <span class="sidebar-normal">Controle de Pagto dos Atletas</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left:40px;" href="#">
                                <b class="caretRight"></b>
                                <span class="sidebar-normal">Extrato de Fluxo de Caixa</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left:40px;" href="#">
                                <b class="caretRight"></b>
                                <span class="sidebar-normal">Fluxo de Caixa</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="padding-left:40px;" href="/Admin/Controles/TipoDespesaReceita">
                                <b class="caretRight"></b>
                                <span class="sidebar-normal">Tipo de Despesa / Receita</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/Admin/Home/Dashboard">
                    <i class="tim-icons icon-paper"></i>
                    <p>História</p>
                </a>
            </li>
            <li>
                <a href="/Admin/Home/Dashboard">
                    <i class="tim-icons icon-headphones"></i>
                    <p>Sobre</p>
                </a>
            </li>
        </ul>
    </div>
</div>
