@using Sistema.TSTOnline.Domain.Utils

@{
    var listOrigemCR = Enum.GetValues(typeof(OrigemContasReceberEnum)).Cast<OrigemContasReceberEnum>().ToList();
    var listStatusCR = Enum.GetValues(typeof(ContasReceberStatusEnum)).Cast<ContasReceberStatusEnum>().ToList();
    ViewData["Title"] = "RELATÓRIO DE CONTAS A RECEBER";
}

<form id="frmRelContasReceber">
    <div class="container">
        <div class="card">
            <div class="card-body">

                <div class="row" style="margin-top:1%;">
                    <div class="col-12">
                        <h5><span class="badge badge-secondary w-100 text-left">FILTROS</span></h5>
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">

                    <div class="col-sm-4 col-lg-4">
                        <input class="form-control" data-toggle="tooltip" data-val="true" data-val-required="The DataInicial field is required." id="dataInicial" name="dataInicial" required title="Data Inicial" type="date" value="">
                    </div>

                    <div class="col-sm-4 col-lg-4">
                        <input class="form-control" data-toggle="tooltip" data-val="true" data-val-required="The DataFinal field is required." id="dataFinal" name="dataFinal" required title="Data Final" type="date" value="">
                    </div>

                </div>

                <div class="row" style="margin-top: 1%;">

                    <div class="col-sm-4 col-lg-4">
                        <select name="idOrigem" class="form-control" required="">

                            <option selected value="0">TODOS AS ORIGENS</option>

                            @foreach (var itemStatus in listOrigemCR)
                            {
                                <option value="@((int)itemStatus)">@itemStatus.ToDescriptionEnum()</option>
                            }
                        </select>
                    </div>

                    <div class="col-sm-4 col-lg-4">
                        <select name="idStatus" class="form-control" required="">

                            @foreach (var itemStatus in listStatusCR)
                            {
                                <option value="@((int)itemStatus)">@itemStatus.ToDescriptionEnum()</option>
                            }
                        </select>
                    </div>

                </div>

                <div class="row" style="margin-top: 1%;">

                    <div class="col-sm-1 col-lg-1">
                        <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#modalEmpresa"><i class="fa fa-search fa-lg"></i></button>
                    </div>

                    <div class="col-sm-11 col-lg-11">
                        <input class="form-control" id="RazaoSocial" maxlength="150" name="RazaoSocial" placeholder="Cliente" readonly="readonly" required type="text" value="">
                        <input type="hidden" name="idEmpresa" id="idEmpresa" value="0">
                    </div>

                </div>

                <div class="row" style="margin-top: 1%;">
                    <div class="col">
                        <div class="btn-group">
                            <button class="btn btn-primary">
                                <i class="fas fa-save fa-lg"></i> Imprimir
                            </button>
                            <button class="btn btn-danger" onClick="backToHome()"><i class="fa fa-undo fa-lg"></i> Voltar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@await Html.PartialAsync("~/Views/Shared/_BuscarEmpresaPartial.cshtml")

@section Scripts{
    <script src="~/js/cadastros/empresaPesquisa.js?v=@Helper.GetVersion()"></script>

    <script>

        $("#frmRelContasReceber").submit(function (event) {

            event.preventDefault();

            debugger;

            var json = $(this).serializeObject();

            var idEmpresa = json.idEmpresa;
            var idOrigem = json.idOrigem;
            var idStatus = json.idStatus;
            var dataInicial = json.dataInicial;
            var dataFinal = json.dataFinal;

            try {
                window.open('/relatorios/movimentacaoFinanceiraContasReceberImprimir/' + idEmpresa + '/' + idOrigem + '/' + idStatus + '/' + dataInicial + '/' + dataFinal, '_blank');
            }
            catch (ex) {
                console.log(ex);
                showMessage("error", ex);
            }
        })
    </script>
}