@using Sistema.TSTOnline.Domain.Utils

@{
    ViewData["Title"] = "RELATÓRIO DE ORDEM DE SERVIÇO POR TÉCNICO";
}

<form id="frmRelOrdemServicoPorTecnico">
    <div class="container">
        <div class="card">
            <div class="card-body">

                <div class="row" style="margin-top:1%;">
                    <div class="col-12">
                        <h5><span class="badge badge-secondary w-100 text-left">FILTROS</span></h5>
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">

                    <div class="col-sm-1 col-lg-1">
                        <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#modalResponsavel"><i class="fa fa-search fa-lg"></i></button>
                    </div>

                    <div class="col-sm-11 col-lg-11">
                        <input class="form-control" id="ResponsavelNome" maxlength="150" name="ResponsavelNome" placeholder="Técnico" readonly="readonly" required type="text" value="">
                        <input type="hidden" name="idResp" id="IDResp" value="0">
                    </div>

                </div>

                <div class="row" style="margin-top: 1%;">

                    <div class="col-sm-6 col-lg-6">
                        <input class="form-control" data-toggle="tooltip" data-val="true" data-val-required="The DataInicial field is required." id="dataInicial" name="dataInicial" required title="Data Inicial" type="date" value="">
                    </div>

                    <div class="col-sm-6 col-lg-6">
                        <input class="form-control" data-toggle="tooltip" data-val="true" data-val-required="The DataFinal field is required." id="dataFinal" name="dataFinal" required title="Data Final" type="date" value="">
                    </div>

                </div>

                <div class="row" style="margin-top: 1%;">
                    <div class="col">
                        <div class="btn-group">
                            <button class="btn btn-primary">
                                <i class="fas fa-save fa-lg"></i> Imprimir
                            </button>
                            <button class="btn btn-danger" onClick="backToHome()"><i class="fa fa-undo fa-lg"></i> Voltar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@await Html.PartialAsync("~/Views/Shared/_BuscarResponsavelPartial.cshtml")

@section Scripts{
    <script src="~/js/cadastros/responsavelPesquisa.js?v=@Helper.GetVersion()"></script>

    <script>

        $("#frmRelOrdemServicoPorTecnico").submit(function (event) {

            event.preventDefault();

            debugger;

            var json = $(this).serializeObject();

            var idResp = json.idResp;
            var dataInicial = json.dataInicial;
            var dataFinal = json.dataFinal;

            try {
                window.open('/relatorios/ordemServicoPorTecnicoImprimir/' + idResp + '/' + dataInicial + '/' + dataFinal, '_blank');
            }
            catch (ex) {
                console.log(ex);
                showMessage("error", ex);
            }
        })
    </script>
}